body{
    font-family: Helvetica;
}
img{
    width:"200px" ;
    height:"200px" ;
}
#header{
    text-align: center;
    height: 70px;
    line-height: 70px;
    color: #F16F51;
}
#headers{
    text-align: center;
    height: 70px;
    line-height: 70px;
    color:yellow;
}

h1 {
    vertical-align: middle;
    color: while;
    font-weight: bold;
}
.row{
    margin: 10px 20px;
}
#resultados{
    margin: 30px 20px 10px 0px;
}
.person-row{
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    float: left;
    background-color: #FDB45C;
}
.person-row img{
    float: left;
    margin-right: 20px;
}
.person-info{
    float: left;
}
.person-row > button{
    float: right;
} 
button{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}
select{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #ba1871c9;
    border-radius: 6px;
    border: 2px solid #38b000;
}
label{
    font-weight: 600;
    font-size: 20px;
    color: #f8d927d7;
    background-color: #1883ba;
}